.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
a,
.animation {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
a,
a:hover {
  text-decoration: none;
}
.navbar-default {
  background-color: #fff;
}
.avatar {
  margin: -5px 4px;
}
.register {
  max-width: 360px;
  width: 98%;
  margin: 0 auto;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 10%;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.register .nav {
  background: #489A1D;
  border: 0;
}
.register .nav h3 {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  margin: 0;
  text-align: center;
}
.register .nav li {
  width: 50%;
  border: 0;
  text-align: center;
  margin: 0;
}
.register .nav li a {
  color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  display: block;
  border-radius: 0;
  font-size: 16px;
  line-height: 50px;
}
.register .nav li a:hover {
  border: 0;
}
.register .nav li:hover a,
.register .nav li:focus a,
.register .nav li.active > a {
  border: 0;
  background: #fff;
  color: #5BBA2A;
}
.register .tab-content {
  padding: 20px;
}
.register .mobile-valid {
  padding: 0 15px;
  cursor: pointer;
}
.register .btn-register {
  margin-top: 10px;
}
.content {
  margin: 0 auto;
  margin-bottom: 50px;
  background: #fff;
  border: 1px solid #eee;
  overflow: hidden;
  margin-top: 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.content .nav {
  border-bottom: 1px solid #eee;
  padding: 0 20px;
  background: #489A1D;
}
.content .nav h3 {
  color: #fff;
  font-size: 16px;
  line-height: 50px;
  margin: 0;
  text-align: left;
}
.content .inner {
  padding: 20px;
}
.content .inner .tags {
  margin: 10px;
  margin-top: 0;
  padding: 10px;
  background: #f5f5f5;
}
.content .inner .tags li {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  display: inline;
  padding: 8px;
  display: block;
  text-align: center;
  background: #fff;
  color: #aaa;
  margin: 4px;
  cursor: pointer;
}
.content .inner .tags li:hover,
.content .inner .tags li.active {
  color: #fff;
  background: #489A1D;
}
.content .inner .tags li.disable {
  color: #ddd;
  background: #fcfcfc;
  cursor: not-allowed;
}
#uploader {
  margin: 20px;
  background: #f5f5f5;
}
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
#uploader .placeholder {
  border: 3px dashed #e6e6e6;
  min-height: 238px;
  padding-top: 158px;
  text-align: center;
  background: url(img/image.png) center 93px no-repeat;
  color: #cccccc;
  font-size: 18px;
  position: relative;
}
#uploader .placeholder .webuploader-pick {
  font-size: 18px;
  background: #00b7ee;
  border-radius: 3px;
  line-height: 44px;
  padding: 0 30px;
  color: #fff;
  display: inline-block;
  margin: 20px auto;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
#uploader .placeholder .webuploader-pick-hover {
  background: #00a2d4;
}
#uploader .placeholder .flashTip {
  color: #666666;
  font-size: 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 20px;
}
#uploader .placeholder .flashTip a {
  color: #0785d1;
  text-decoration: none;
}
#uploader .placeholder .flashTip a:hover {
  text-decoration: underline;
}
#uploader .placeholder.webuploader-dnd-over {
  border-color: #999999;
}
#uploader .placeholder.webuploader-dnd-over.webuploader-dnd-denied {
  border-color: red;
}
#uploader .filelist {
  list-style: none;
  margin: 0;
  padding: 0;
}
#uploader .filelist:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  clear: both;
}
#uploader .filelist li {
  width: 110px;
  height: 110px;
  background: url(img/bg.png) no-repeat;
  text-align: center;
  margin: 0 8px 20px 0;
  position: relative;
  display: inline;
  float: left;
  overflow: hidden;
  font-size: 12px;
}
#uploader .filelist li p.log {
  position: relative;
  top: -45px;
}
#uploader .filelist li p.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 5px;
  text-indent: 5px;
  text-align: left;
}
#uploader .filelist li p.progress {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 8px;
  overflow: hidden;
  z-index: 50;
}
#uploader .filelist li p.progress span {
  display: none;
  overflow: hidden;
  width: 0;
  height: 100%;
  background: #1483d8 url(img/progress.png) repeat-x;
  -webit-transition: width 200ms linear;
  -moz-transition: width 200ms linear;
  -o-transition: width 200ms linear;
  -ms-transition: width 200ms linear;
  transition: width 200ms linear;
  -webkit-animation: progressmove 2s linear infinite;
  -moz-animation: progressmove 2s linear infinite;
  -o-animation: progressmove 2s linear infinite;
  -ms-animation: progressmove 2s linear infinite;
  animation: progressmove 2s linear infinite;
  -webkit-transform: translateZ(0);
}
@-webkit-keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
@-moz-keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
@keyframes progressmove {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 17px 0;
  }
}
#uploader .filelist li p.imgWrap {
  position: relative;
  z-index: 2;
  line-height: 110px;
  vertical-align: middle;
  overflow: hidden;
  width: 110px;
  height: 110px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webit-transition: 200ms ease-out;
  -moz-transition: 200ms ease-out;
  -o-transition: 200ms ease-out;
  -ms-transition: 200ms ease-out;
  transition: 200ms ease-out;
}
#uploader .filelist li img {
  width: 100%;
}
#uploader .filelist li p.error {
  background: #f43838;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 28px;
  line-height: 28px;
  width: 100%;
  z-index: 100;
}
#uploader .filelist li .success {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  z-index: 200;
  background: url(img/success.png) no-repeat right bottom;
}
#uploader .filelist div.file-panel {
  position: absolute;
  height: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 300;
}
#uploader .filelist div.file-panel span {
  width: 24px;
  height: 24px;
  display: inline;
  float: right;
  text-indent: -9999px;
  overflow: hidden;
  background: url(img/icons.png) no-repeat;
  margin: 5px 1px 1px;
  cursor: pointer;
}
#uploader .filelist div.file-panel span.rotateLeft {
  background-position: 0 -24px;
}
#uploader .filelist div.file-panel span.rotateLeft:hover {
  background-position: 0 0;
}
#uploader .filelist div.file-panel span.rotateRight {
  background-position: -24px -24px;
}
#uploader .filelist div.file-panel span.rotateRight:hover {
  background-position: -24px 0;
}
#uploader .filelist div.file-panel span.cancel {
  background-position: -48px -24px;
}
#uploader .filelist div.file-panel span.cancel:hover {
  background-position: -48px 0;
}
#uploader .statusBar {
  height: 63px;
  border-top: 1px solid #dadada;
  padding: 0 20px;
  line-height: 63px;
  vertical-align: middle;
  position: relative;
}
#uploader .statusBar .progress {
  border: 1px solid #1483d8;
  width: 198px;
  background: #fff;
  height: 18px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  color: #6dbfff;
  position: relative;
  margin-right: 10px;
}
#uploader .statusBar .progress span.percentage {
  width: 0;
  height: 100%;
  left: 0;
  top: 0;
  background: #1483d8;
  position: absolute;
}
#uploader .statusBar .progress span.text {
  position: relative;
  z-index: 10;
}
#uploader .statusBar .info {
  display: inline-block;
  font-size: 14px;
  color: #666666;
}
#uploader .statusBar .btns {
  position: absolute;
  top: 10px;
  right: 20px;
  line-height: 40px;
}
#filePicker2 {
  display: inline-block;
  float: left;
}
#uploader .statusBar .btns .webuploader-pick,
#uploader .statusBar .btns .uploadBtn,
#uploader .statusBar .btns .uploadBtn.state-uploading,
#uploader .statusBar .btns .uploadBtn.state-paused {
  background: #ffffff;
  border: 1px solid #cfcfcf;
  color: #565656;
  padding: 0 18px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 14px;
  float: left;
}
#uploader .statusBar .btns .webuploader-pick-hover,
#uploader .statusBar .btns .uploadBtn:hover,
#uploader .statusBar .btns .uploadBtn.state-uploading:hover,
#uploader .statusBar .btns .uploadBtn.state-paused:hover {
  background: #f0f0f0;
}
#uploader .statusBar .btns .uploadBtn {
  background: #00b7ee;
  color: #fff;
  border-color: transparent;
}
#uploader .statusBar .btns .uploadBtn:hover {
  background: #00a2d4;
}
#uploader .statusBar .btns .uploadBtn.disabled {
  pointer-events: none;
  opacity: 0.6;
}
.img-upper {
  background-color: #f5f5f5;
  padding: 50px;
}
.img-upper .text {
  margin: 0px auto;
  overflow: hidden;
  background: #00a2d4;
  color: #fff;
  padding: 40px;
  position: relative;
  max-width: 600px;
}
.img-upper .text input {
  position: absolute;
  width: 100%;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}
.img-upper .text h3 {
  margin: 0;
}
.img-upper .text p {
  margin: 0;
}
.img-upper .text i {
  text-align: center;
  font-size: 40px;
  float: right;
}
.hr-info .header {
  padding: 20px;
  background: #f5f5f5;
  overflow: hidden;
}
.hr-info .header .infoinfo {
  position: relative;
  float: left;
}
.hr-info .header .logo {
  border: 1px solid #eee;
  float: left;
  margin-right: 20px;
}
.hr-info .header h3 {
  margin: 0;
  margin-top: 15px;
  float: left;
  width: 100%;
}
.hr-info .header h3 .verified {
  background: #489A1D ;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 4px;
  border-radius: 4px;
}
.hr-info .header h3 .unverified {
  background: #eee;
  color: #aaa;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hr-info .header h3 .unverified:hover {
  background: #fdfdfd;
  color: #333;
}
.hr-info .header .tags {
  margin: 0;
  padding: 0;
  float: left;
  margin-top: 10px;
}
.hr-info .header .tags li {
  margin: 0 5px 0 0;
  list-style: none;
  display: inline-block;
  padding: 4px 6px;
  background: #fff;
  color: #aaa;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
.hr-info .header .tags li:hover {
  background: #489A1D ;
  color: #fff;
}
.hr-info .hr-info-nav {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  background: #489A1D;
}
.hr-info .hr-info-nav ul {
  margin: 0;
  padding: 0;
  float: left;
}
.hr-info .hr-info-nav ul li {
  list-style: none;
  display: inline-block;
}
.hr-info .hr-info-nav ul li a {
  color: rgba(255, 255, 255, 0.5);
  padding: 20px 20px;
  display: block;
}
.hr-info .hr-info-nav ul li.active a,
.hr-info .hr-info-nav ul li:hover a {
  color: #fff;
}
.hr-info .hr-info-nav .jiathis_style {
  padding: 20px;
  color: #fff;
}
.hr-info .hr-section .heading {
  background: #f5f5f5;
  padding: 20px;
}
.hr-info .hr-section .inner {
  padding: 20px;
}
.hr-info .hr-section p {
  line-height: 1.7;
  color: #666;
}
.hr-info .hr-section .gallery {
  margin: 10px 0;
}
.hr-info .hr-section .gallery ul {
  margin: 0;
  padding: 0;
}
.hr-info .hr-section .gallery li {
  list-style: none;
  display: inline-block;
  margin-bottom: 15px;
}
.hr-info .hr-section .gallery li img {
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.hr-info .hr-section .gallery li img:hover {
  border-color: #489A1D;
}
.dashboard {
  background-color: #489A1D;
}
.dashboard .left {
  border-right: 1px solid #eee;
  position: relative;
  background: #fff;
}
.dashboard .left .header {
  padding: 20px;
  background: #f5f5f5;
  overflow: hidden;
  margin: 0 -15px;
}
.dashboard .left .header .title {
  font-size: 24px;
  font-weight: bold;
}
.dashboard .left .header .infoinfo {
  margin-left: 120px;
}
.dashboard .left .header .logo {
  border: 1px solid #eee;
  float: left;
}
.dashboard .left .header h3 {
  margin: 0;
  margin-top: 15px;
  width: 100%;
}
.dashboard .left .header h3 .verified {
  background: #489A1D;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 4px;
  border-radius: 4px;
}
.dashboard .left .header h3 .unverified {
  background: #eee;
  color: #aaa;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 4px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.dashboard .left .header h3 .unverified:hover {
  background: #fdfdfd;
  color: #333;
}
.dashboard .left .header .user-info {
  margin-top: 10px;
  color: #aaa;
}
.dashboard .left .header .user-info span {
  margin-right: 10px;
}
.dashboard .left .header .user-info span a {
  color: #aaa;
  border-bottom: 1px dashed #aaa;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.dashboard .left .header .user-info span a:hover {
  color: #333;
  border-color: #333;
}
.dashboard .left .table {
  margin-top: 20px;
}
.dashboard .left form {
  overflow: hidden;
  margin-bottom: 20px;
}
.dashboard .left .dashboard-menu {
  margin: 20px 0;
  overflow: hidden;
  padding: 0;
}
.dashboard .left .dashboard-menu li {
  display: inline-block;
  list-style: none;
}
.dashboard .left .dashboard-menu li a {
  position: relative;
  display: block;
  text-align: center;
  padding: 20px;
  border: 1px solid #eee;
  color: #333;
  overflow: hidden;
  border-radius: 6px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.dashboard .left .dashboard-menu li a i {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  position: absolute;
  color: #489A1D;
  bottom: -10px;
  right: -10px;
  top: auto;
  font-size: 50px;
  opacity: .1;
}
.dashboard .left .dashboard-menu li a:hover {
  background-color: #489A1D;
  color: #fff;
}
.dashboard .left .dashboard-menu li a:hover i {
  color: #fff;
  bottom: -2px;
  right: -2px;
  font-size: 55px;
}
.dashboard .left .hr-statue {
  overflow: hidden;
  margin-bottom: 20px;
}
.dashboard .left .hr-statue i {
  font-size: 60px;
  margin: 0 auto;
  display: block;
  text-align: right;
  color: #eee;
}
.dashboard .left .hr-statue h3 {
  margin: 5px 0;
  color: #489A1D;
  font-size: 36px;
}
.dashboard .left .hr-statue p {
  color: #aaa;
  margin: 0;
}
.dashboard .left .hr-statue span.unit {
  font-size: 14px;
  color: #aaa;
}
.dashboard .left .hr-statue .col-sm-6 {
  padding: 30px 0;
  cursor: pointer;
}
.dashboard .left .hr-statue .col-sm-6 .col-xs-8 {
  padding-left: 50px;
}
.dashboard .left .hr-statue .col-sm-6:hover {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  background: #f5f5f5;
}
.dashboard .left .hr-statue .col-sm-6:hover i {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  color: #489A1D;
}
.dashboard .right {
  color: #fff;
  display: block;
  height: 100%;
  padding: 20px;
}
.dashboard .right h3 {
  margin: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
.dashboard .right h3 span {
  font-size: 14px;
  opacity: .6;
}
.dashboard .right hr {
  opacity: .2;
}
.dashboard .right p {
  margin: 0;
}
.job-search {
  margin-top: 20px;
}
.job-search .form-group {
  margin-right: 10px;
}
.job-detail-modal .nav {
  margin: -15px;
  margin-bottom: 15px;
  padding-top: 5px;
}
.job-detail-modal .nav li {
  width: 33.3333%;
  text-align: center;
}
.job-detail-modal .nav li a {
  color: #fff;
}
.job-detail-modal .nav-tabs > li.active > a,
.job-detail-modal .nav-tabs > li > a:hover,
.job-detail-modal .nav-tabs > li.active > a:hover,
.job-detail-modal .nav-tabs > li.active > a:focus {
  color: #333;
}
.job-detail-modal .tiny {
  max-width: 50px;
  display: inline-block;
}
